@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}



body {
	min-height: 100dvh;
	min-width: 100dvw;
	background-color: #EBEFFF;
}

.my-formlogin {
	position: relative;
	width: 150%;
	height: auto;
	max-width: none;
	
}
.as {
	text-align: center;
	padding: 30px;
}

.rectangle {
	position: fixed;
	width: 35%;
	height: 100%;
	background-color: #AFB3FF;
	position: fixed;
	top: 0;
	right: 0;
}

.pic1 {

	position: fixed;
	width: 600px;
	height: 590px;
	left: 565px;
	top: 37px;
	margin-left: 15%;
	margin-top: 5%;

}

.pic2 {
	position: fixed;
	margin-top: 35%;
}

.containerLogin {
	position: absolute;
	margin: 15%;

}

.containerLogin form input {
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 1rem;
	border: 1px solid #656ED3;
	font-size: 16px;
	background-color: #EBEFFF;

}

.containerLogin form input[type="submit"] {
	background-color: #656ED3;
	color: #fff;
	cursor: pointer;
}

a {
	color: #000;
	text-decoration: none;
	/* no underline */
}

@media screen and (max-width:1000px) and (max-device-width: 1000px) {

	body {
		display: block;
		justify-content: center;
		height: 100%;
		width: 100%;
		margin: auto;
		align-self: center;
	}


	.containerLogin {
		position: fixed;
		grid-template-columns: 100%;
		width: 80%;
		padding: 1rem;
		border-radius: 30px;
		background: rgb(250, 249, 246, 0.9);
		box-shadow: 0 26px 42px rgba(0, 0, 0, 0.2);
		align-items: center;
	}

	.my-formlogin {
		width: 80%;
		max-width: none;
		align-items: center;
		padding: 10px;
	}

	.containerLogin>* {
		position: relative;
		margin: auto;
		padding: 10px;
	}

	.pic1 {
		position: sticky;
		margin-right: 50%;
	}

	.pic2 {
		visibility: hidden;
	}

	.as {
		text-align: center;
		padding: 30px;
	}
}
