body {
	display: flex;
	background-color: #EBEFFF;


}

.rectangle {
	position: fixed;

	width: 40%; /* takes 25% of the page width */
	height: 100%; /* takes 100% of the page height */
	background-color: #AFB3FF; /* choose your desired color */
	position: fixed; /* this will make the rectangle stay in place as you scroll */
	top: 0; /* position at the top of the page */
	right: 0; /* position on the right side of the page */
  }

.pic1 {

	position: fixed;
	width: 600px;
	height: 590px;
	left: 565px;
	top: 37px;

	

}

.rectangle2{
	position: fixed;
	width: 553px;
	height: 130px;
	left: -230px;
	top: 655px;
	
	background: #AFB3FF;
	border-radius: 105.53px;
	transform: rotate(-41.1deg);
}
.container{
	position: absolute;
	width: 367px;
	height: 332px;
	left: 122px;
	top: 177px;
	
}

.container form input {
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 1rem;
	border: 1px solid #656ED3;
	font-size: 16px;
	background-color: #EBEFFF;

}

.container form input[type="submit"] {
	background-color: #656ED3;
	color: #fff;
	cursor: pointer;
}

a {
	color: #000;
	text-decoration: none;
	/* no underline */
}



@media  (max-width: 500px) {
  
	.pic1{
		display: none ;
	} .rectangle{
		display: none ;
	} .rectangle2{
		display: none ;
	}  
}
