
body {
	display: flex;
	background-color: #EBEFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

aside{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 55%;

}

.my-form{
    max-width: 22rem;
}

.container{
    /* 8rem  9rem*/

    margin-left: 4rem  ;

    margin-top: 8rem;
    margin-bottom: 8rem;
    height: 100%;
    width: 45%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    
    z-index: 2;
    /* background-color: rgb(255, 255, 255,40%); */
    

}

/* V *Need work w/ height &w */
#desktop-pic {
    position: absolute;
    /* left: 12.73px; */
    /* right:  45.39px; */
    
    margin-left: 163px;
    margin-top : 177px;
    /* top:  24.58px; */
    /* bottom:  7.08px; */
    z-index: 1;
}

#Rectangle7{
    position: absolute;
    width: 635px;
    height: 377px;
    background: #AFB3FF;
    border-radius: 105.53px;
    transform: rotate(-90deg);
}

#Rectangle6{
    position: absolute;
    width: 635px;
    height: 370px;
    background: #656ED3;
    border-radius: 105.53px;
    transform: rotate(-97.17deg);

    
}


#fields input {
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 1rem;
	border: 1px solid #656ED3;
	font-size: 16px;
	background-color: #EBEFFF;

}

a {
	color: #000;
	text-decoration: none;
	/* no underline */
} 

#form-header{

    padding-left: 65px ;  
}
#register-btn{
    box-sizing: border-box;

    padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 1rem;
	background-color: #656ED3;
	color: #fff;
	cursor: pointer;
}
#have-account{
    padding-left: 65px ;  
}

@media (max-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

    body {
       
        display: block;
    }
    .container {
        position:absolute;
        z-index: 3;
        background-color: white;
        opacity: 0.2;

    }

}

/* 




Rectangle 10


box-sizing: border-box;

position: absolute;
width: 367px;
height: 34px;
left: 756px;
top: 284px;

border: 1px solid #656ED3;
border-radius: 50px;

Rectangle 8


box-sizing: border-box;

position: absolute;
width: 367px;
height: 34px;
left: 758px;
top: 440px;

border: 1px solid #656ED3;
border-radius: 50px;

Rectangle 3


box-sizing: border-box;

position: absolute;
width: 367px;
height: 34px;
left: 758px;
top: 364px;

border: 1px solid #656ED3;
border-radius: 50px;

Rectangle 9


box-sizing: border-box;

position: absolute;
width: 367px;
height: 34px;
left: 756px;
top: 202px;

border: 1px solid #656ED3;
border-radius: 50px;

Full name:


position: absolute;
width: 77px;
height: 19px;
left: 756px;
top: 172px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;


Please Fill out form to Register!


position: absolute;
width: 243px;
height: 19px;
left: 818px;
top: 126px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #1A1A1A;

Confirm Password:


position: absolute;
width: 143px;
height: 19px;
left: 760px;
top: 410px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;

Email:


position: absolute;
width: 45px;
height: 19px;
left: 758px;
top: 254px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;


Button 

Register


position: absolute;
width: 64px;
height: 19px;
left: 910px;
top: 504px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;


Rectangle 4


position: absolute;
width: 365px;
height: 34px;
left: 760px;
top: 497px;

background: #656ED3;
border-radius: 50px;

Yes i have an account? Login


position: absolute;
width: 219px;
height: 19px;
left: 838px;
top: 558px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000; */
