
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body,*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body {
    box-sizing:border-box ;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;

	display: flex;
    column-gap: 2rem;


    margin: 1rem;
	background-color: #EBEFFF;
}

/* -------------------------- the left part  ------------------------ */

aside{

    display: flex;
    /* justify-content: center; */
    box-sizing:border-box ;

    /* height: 100%; */
    width: 55%;

}
/* V *Need work w/ height &w */
#desktop-pic {
    position: relative;

    left: 110px;
    right:  0;
    top:  177px;
    /* bottom:  7.08px; */

    max-width: 33.5rem;
    max-height: 30rem;
    /* left: 163px;
    top : 177px; */

    z-index: 1;
}

#Rectangle7{
    position: absolute;
    width: 635px;
    height: 377px;

    border-radius: 105.53px;


    background: #AFB3FF;
    transform: rotate(-90deg);
}

#Rectangle6{
    position: absolute;
    width: 635px;
    height: 370px;

    border-radius: 105.53px;


    background: #656ED3;
    transform: rotate(-97.17deg);

}


/* -------------------------- the rigth part  ------------------------ */



.container{
    margin-top: 20vh ;
    margin-bottom: 25vh ;

    width: 45%;
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1rem;
    
    z-index: 2;
    /* background-color: rgb(255, 255, 255,40%); */

    
    
}

#form-header{
    font-size: 1.5rem;
    font-weight: bolder;
}

.my-form{
    max-width: 22rem;
}

#form-fields input {
    margin-top: 4px;
	padding: 10px;
	width: 100%;
	border-radius: 1rem;
	border: 1px solid #656ED3;
	background-color: #EBEFFF;

}

#form-register-btn{
	padding: 10px;
	width: 100%;
    border:#AFB3FF solid 1px;
	border-radius: 1rem;
	background-color: #656ED3;

	color: #fff;
    font-size: 1.2rem;
	cursor: pointer;
}
#i-have-account{
    margin-left: 12%;
}

/* -------------------------------------------------------------- */
a {
	color: #000;
	text-decoration: none;
} 


 /* portrait tablets, portrait iPad, landscape e-readers */ 
@media screen and (max-device-width:1100px)  {

    body {
        display: block;
        justify-content: center;
        height: 90vh;
        width: 90vw;
        margin: auto;
        padding: 10px;
    }
    aside{
        position: absolute;
        justify-content: center;
        height: 100%;
        width: 100%;
    
    }
    
    .container {
        position:absolute;
        display: grid;
        grid-template-columns: 100%;

        width: 90%;
        padding: 1rem;

        border-radius: 30px;

       /* Add a transparency to the background using rgba value */
        background: rgb(255, 255, 255,0.8);
        /* Add a transparency to shadow */
        box-shadow: 0 26px 42px rgba(0, 0, 0, 0.2);

    }

    .my-form{
        width: 65%;
        max-width: none;
        margin: auto;
    }
    .container > *{
        max-width: none;
        margin: auto;
    }
    #i-have-account{

        margin-left: auto;  
    }    


}

 /*  for Phonea v  */ 
