<%- include("partials/header") -%>

      </header>


    <form class="settings-container form-signin">
        <div class="settings-header">
            <img class="settings-img mb-3" src="images/man.png" alt="">
            <h3>Settings</h3>
        </div>
        <div class="settings-body">
            <div class="form-label-group">
                <input type="text" id="name" class="form-control" value="<%= name %>" placeholder="Full Name" required autofocus>
            </div>

            <div class="form-label-group  mt-3">
                <input type="email" id="inputEmail" class="form-control"  value="<%= email %>" placeholder="Email address" required>
            </div>
    
            <div>
                <button class="btn btn-primary btn-lg btn-block mt-3 mb-2" type="submit">Save</button>
            </div>
            
            <a class="change-password-lnk" id="changePassowrdBtn">Change Password</a>
        </div>


        <div class="popupWindow hidePopupWindow" id="changePasswordWindow">
            <div class="popup-message">
                <img class="mb-2" src="images/password.png">
                <h3>Change Password</h3>
            </div>
            <div class="popup-content">
                <div class="form-label-group">
                    <input type="password" class="form-control" placeholder="Old Password" required autofocus>
                </div>
                <div class="form-label-group">
                    <input type="password" class="form-control mt-2 mb-2" placeholder="New Password" required autofocus>
                </div>
                <div class="form-label-group">
                    <input type="password" class="form-control" placeholder="Repeat New Password" required autofocus>
                </div>
                <button class="btn btn-danger btn-lg mt-3" id="changePassword">Change Password</button>
                <a class="mt-2" id="cancelChangingPassword">Cancel</a>
            </div>
            
        </div>

    </form>
<%- include("partials/footer") -%>